.reservation-title {
  font-size: 1em;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 50px;
  background-color: #b942f4;
}

.reservations-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.reservation-part {
  margin: 20px;
  padding: 30px;
  background-color: #efefef;
  flex: 1 auto;

}
