body {
  background-color: #efefef;
}

.hero-header {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: salmon;
  color: white;
}

.account {
  margin: 0 auto;
  text-align: center;
  padding: 150px;
  font-size: 1em;
}

.account .fb_login {
  width: 150px;
}

.listings {
  background-color: white;
  padding: 20px;
  text-align: center;
}
