body {
  background-color: #efefef;
  margin: 0;
}

.hero-header {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: salmon;
  color: white;
  font-size: 2em;
}

.body-container {
  height: 100vh;
  background-image: url('https://unsplash.it/1500/800/?random');
  background-size: cover;
}

.account {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  width: 300px;
  padding: 50px;
  font-size: 1em;
  background-color: white;
  border-radius: 10px;
}

.account-links {
  padding: 20px;
  text-align: center;
}

.fb-login {
  margin: 0 auto;
  width: 150px;
  text-align: center;
}
