#header {
  text-align: right;
  padding: 10px;
  font-size: 10px;
  background-color: salmon;
  position: fixed;
  top: 0px;
  width: 100vw;
  margin: 0 auto;
}

a {
  padding-right: 10px;
  color: white;
}

body {
  padding-top: 50px;
}
